.journal-container {
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.journal-title {
    color:#131112 ;
    display: flex;
    font-size: 2.5rem;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding:2rem;    
}

.journal-text {
    width: 1500px;
    font-size: 2rem; 
}

.journal-button {
     padding: 0.75rem;
  font-size: 1.25rem;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #131112;
  
}