.quiz-container {
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: top;      
}

.quiz-question {
  display: flex;
  background-color: antiquewhite;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100vh;
  
}






.quiz-title {
    color:#131112 ;
    display: flex;
    font-size: 2.5rem;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding:2rem;    
}

.quiz-explaination {
  font-size: 1.5rem;
}

.quiz-text {
    width: 1500px;
    font-size: 2rem; 
}

.quiz-button {
     padding: 0.75rem;
  font-size: 1.25rem;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #131112;
  
}